{% extends 'main/index.html' %}
{% block content %}
<p class="questions">Кто может стать участником программы?</p>
<ol class="rounded">
  <li class="who">Граждане в возрасте 50 лет
и старше, граждане предпенсионного возраста</li>
  <li class="who">Женщины, находящиеся в отпуске по уходу за ребенком
до достижениям им возраста 3 лет</li>
  <li class="who">Женщины, не состоящие
в трудовых отношениях
и имеющие детей дошкольного возраста в возрасте от 0 до 7 лет включительно</li>
  <li class="who">Безработные граждане, зарегистрированные в органах службы занятости</li>
  <li class="who">Молодежь в возрасте до 35 лет включительно, относящаяся к категориям:
      <ul>
          <li style="list-style: decimal">Граждан, которые с даты окончания военной службы по призыву не являются занятыми в течение 4 месяцев и более</li>
          <li style="list-style: decimal">Граждан, не имеющих и не получающих в настоящее время среднее профессиональное или высшее образование</li>
          <li style="list-style: decimal">Граждан, которые с даты выдачи им документа об образовании и(или) о квалификации не являются занятыми в течение 4 месяцев и более</li>
          <li style="list-style: decimal">Граждан, находящихся под риском увольнения </li>
          <li style="list-style: decimal">Граждан, завершающих обучение по образовательным программам среднего профессионального или высшего образования в текущем календарном году, обратившихся в органы службы занятости, для которых отсутствует подходящая работа по получаемой профессии</li>
      </ul>
  </li>
</ol>

<p class="questions">Что получат участники?</p>
<ol class="rounded">
  <li class="who">Практическое обучение в очной форме:
       <ul>
          <li style="list-style: decimal">В мастерских с современным оборудованием</li>
          <li style="list-style: decimal">С применением дистанционных образовательных технологий</li>
      </ul>
  </li>
  <li class="who">Обучение под руководством квалифицированных преподавателей-экспертов</li>
  <li class="who">Востребованные профессиональные навыки</li>
  <li class="who">Два документа — документ о квалификации и паспорт профессиональных навыков</li>
</ol>

<p class="questions">Занятость после обучения</p>
<ol class="rounded">
  <li class="who">Вы можете трудоустроиться на актуальные вакансии:
       <ul>
          <li style="list-style: disc">Вы будете обучаться по договору между вами, образовательной организацией и работодателем. Наши партнеры-работодатели доверяют Ворлдскиллс и признают Скиллс-Паспорт как дополнительное преимущество при трудоустройстве.</li>
      </ul>
  </li>
    <li class="who">Вы сможете сохранить занимаемое рабочее место и приобрести дополнительные профессиональные навыки:
       <ul>
          <li style="list-style: disc">Вы будете обучаться по договору между вами, образовательной организацией и вашим работодателем.</li>
      </ul>
  </li>
    <li class="who">Вы сможете начать самостоятельную профессиональную деятельность:
       <ul>
          <li style="list-style: disc">Вы будете обучаться по договору между вами и образовательной организацией. Во время или после обучения вы сможете зарегистрироваться в качестве индивидуального предпринимателя или самозанятого. Для развития своего дела вы сможете получить меры поддержки, имеющиеся в вашем регионе.</li>
      </ul>
  </li>
</ol>


{% endblock %}
