{% extends 'main/index.html' %}
{% block content %}
<div>
    <ul class="programs-list">

        <li class="programs-inf">
            <a href="{% url 'home' %}">
                <h1>Красавчик-механик</h1>
                <p>Для прохождения программы необходимо:</p><br>
                <p>- Иметь свидетельство о профессии рабочего или должности служащего</p>
            </a>
        </li>
         <li class="programs-inf">
            <a href="{% url 'home' %}">
                <h1>Офисный планктон</h1>
                <p>Для прохождения программы необходимо:</p><br>
                <p>- Иметь свидетельство о профессии рабочего или должности служащего</p>
            </a>
        </li>
         <li class="programs-inf">
            <a href="{% url 'home' %}">
                <h1>Психопат-трудяга</h1>
                <p>Для прохождения программы необходимо:</p><br>
                <p>- Иметь свидетельство о профессии рабочего или должности служащего</p>
            </a>
        </li>
         <li class="programs-inf">
            <a href="{% url 'home' %}">
                <h1>Наркодилер</h1>
                <p>Для прохождения программы необходимо:</p><br>
                <p>- Иметь свидетельство о профессии рабочего или должности служащего</p>
            </a>
        </li>
    </ul>



</div>
{% endblock %}