body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial;
   /*background: url(../img/bfg.jpg);*/
    background: linear-gradient(to right, royalblue, lightskyblue);
    background-size: cover;
    color: white;
    backdrop-filter: blur(8px);
}

main{
    flex-grow: 1;

}

@media (min-width: 1401px)
{
  #main
  {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px)
{
  #main
  {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px)
{
  #main div
  {
    width: 98%!important;
  }
}

.main-form{
    font-size: 25px;
    margin-right: 145px;
    background: #333333;
    background-size: cover;
    height: 100%;
    margin-left: 110px;
}

.header{
    width: 100%;
    height: 75px;
    justify-content:center;
    display: inline-block;
    background: linear-gradient(to right, royalblue, lightskyblue);
    background-size: cover;
    font-size: 20px;
    backdrop-filter: blur(8px);
    text-shadow: -1px -1px 1px grey;
}
.header-nav{
    display: inline-grid;
}
@media (min-width: 1001px)
{
  #header-nav
  {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px)
{
  #header-nav
  {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px)
{
  #header-nav
  {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}


@media (min-width: 1001px)
{
  #header
  {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px)
{
  #header
  {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px)
{
  #header
  {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

.logo{
    margin-top: 18px;
    font-size: 35px;
    margin-left: 120px;
    transition: 1s; /* Время эффекта */
    text-align: center;
}

@media (min-width: 1401px)
{
  #logo
  {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px)
{
  #logo
  {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px)
{
  #logo
  {
    width: 98%!important;
  }
}
.logo:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}


.header-nav-list{
    padding: 30px 145px 45px 125px;
    display: flex;
    align-items: center;
    right:0;
    position: absolute;
}

@media (min-width: 1001px)
{
  #header-nav-list
  {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px)
{
  #header-nav-list
  {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px)
{
  #header-nav-list
  {
    font-size: 0.3em;
    padding-top: 50%;
    height: 500px;
  }
}

.header-nav-list-text + .header-nav-list-text{
    margin-left: 42px;
}

.header-nav-list-text{
    position: relative;
}


.header-nav-list-text ::after{
    left:0;
    width: 0%;
    bottom:-5px;

    position: absolute;
    display: block;
    content: "";

    height: 2px;
    background-color: royalblue;

    transition: width 0.3s ease-in;
}

.header-nav-list-text:hover ::after{
    width: 100%;
}

.header-nav-list-text.active::after{
    left:0;
    width: 100%;
    bottom:-5px;

    position: absolute;
    display: block;
    content: "";

    height: 2px;
    background-color: lightblue;

}


footer{
    flex-shrink: 0;
    background-color: #333333;
    height: 150px;
}


.footer-list{
    padding: 30px 145px 0px 125px;
    display: flex;
    align-items: center;
    position: absolute;

}
.footer-list-text a{
    font-size: 20px;
    font-weight: bold;
}

.programs-list{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}
.programs-list a{
      color: black;
    display: flex;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    min-height: 150px;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 6px black;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-out;
}


.programs-list a:hover {background: lightskyblue; color:black}
.programs-list a:before {

    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: lightskyblue;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

/*.programs-inf{*/
/*    color: black;*/
/*    display: flex;*/
/*    margin-bottom: 30px;*/
/*    font-size: 20px;*/
/*    padding: 20px 20px 20px 20px;*/
/*    min-height: 150px;*/
/*    width: 100%;*/
/*    background-color: white;*/
/*    box-shadow: 0 3px 6px black;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    transition: all .3s ease-out;*/
/*}*/



.programs-inf h1{
    font-size: 23px;
    font-weight: bold;
}



.three { background: url(../img/vvsd.jpg);top: 50px; left: 150px; z-index: 5; height: 300px; width: 400px; background-size: cover;}
.seven { background: url(../img/nmv.jpg);left: +120px; top: 25px; z-index: 2;height: 300px; width: 400px; background-size: cover;}
.nark { background: url(../img/cwc.jpg);left: +120px; top: 25px; z-index: 2;height: 300px; width: 400px; background-size: cover;}
.ace { background: url(../img/hai.jpg);left: +295px; z-index: 1; height: 300px; width: 400px; background-size: cover;}
.card IMG { position: relative; }
.seven { left: +450px; top: -10px; }
.ace { left: +800px; top:-30px; }
.nark { left: +1100px; top:-600px; }


.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding-left: 50px;
    padding-right: 140px;
    cursor: pointer;

}
.rounded .who{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: .5em;
    transition: .3s ease-out;
    font-size: 17px;

}
.rounded .who:hover {background: lightskyblue; color:white}
.rounded .who:hover:before {transform: rotate(360deg);}
.rounded .who:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: lightskyblue;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.questions{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #dfdae0;
    text-shadow: 2px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.reg{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
    color:black;
}

.container{

margin-bottom: 50px;
max-width: 430px;
width: 100%;
background: #fff;
position: relative;
box-shadow: 0 3px 6px deepskyblue;
border-radius: 10px;


}

.container .forms{
align-items: center;
height: 440px;

}

.container .form{
width: 100%;
padding: 30px;
}

.container .forms1{
align-items: center;
width: 100%;
height: 550px
}

.container .form .title{
font-size: 27px;
position: relative;
font-weight: 600;
}

.form .title::before{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
border-radius: 25px;
background-color: lightskyblue;
}

.form .input-field{
margin-top: 30px;
height: 50px;
width: 100%;
position: relative;
}

.input-field input{
position: absolute;
height: 100%;
width: 100%;
padding-left: 5px;
border: none;
outline: none;
border-bottom: 2px solid #ccc;
border-top: 2px solid transparent;
transition: all 0.1s ease;
/*
border-color: #808080;
border-style: solid;
border-width: 1px;
border-radius: 10px;
*/
}

.input-field input:focus, :valid{
border-bottom-color: lightskyblue;
}

.form .checkbox-text{
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.checkbox-text .checkbox-content{
display: flex;
align-items: center;
}

.checkbox-content label{
margin: 0 8px -2px 4px;
}

.form a{
text-decoration: none;
color: #888;
}

.form a:hover{
text-decoration: underline;
}

.form .button{
margin-top: 40px;
}

.form .button input{
border:none;
color: #fff;
letter-spacing:1px;
border-radius: 6px;
font-weight: 500;
background-color: lightskyblue;
border-radius: 6px;
cursor: pointer;
transition: all 0.2s ease;
}

.button input:hover{
background-color: deepskyblue;
}

.form .login-signup{
text-align: center;
margin-top: 20px;
}

